@font-face {
		font-family: LeagueGothicRegular;
		src: url('https://thebaseballchronicle.com/fonts/league_gothic-webfont.eot');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: LeagueGothicRegular;
		src: url(//:) format('no404'), url('https://thebaseballchronicle.com/fonts/league_gothic-webfont.woff') format('woff'), url('https://thebaseballchronicle.com/fonts/league_gothic-webfont.ttf') format('truetype'), url('https://thebaseballchronicle.com/fonts/league_gothic-webfont.svg#webfontRRXt4RQN') format('svg');
		font-weight: normal;
		font-style: normal;
	}
	
	@font-face {
		font-family: OFLSortsMillGoudyRegular;
		src: url('https://thebaseballchronicle.com/fonts/oflgoudystm-webfont.eot');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: OFLSortsMillGoudyRegular;
		src: url(//:) format('no404'), url('https://thebaseballchronicle.com/fonts/oflgoudystm-webfont.woff') format('woff'), url('https://thebaseballchronicle.com/fonts/oflgoudystm-webfont.ttf') format('truetype'), url('https://thebaseballchronicle.com/fonts/oflgoudystm-webfont.svg#webfontLEfFEKeH') format('svg');
		font-weight: normal;
		font-style: normal;
	}
	
	@font-face {
		font-family: OFLSortsMillGoudyRegular;
		src: url('https://thebaseballchronicle.com/fonts/oflgoudystm-italic-webfont.eot');
		font-weight: normal;
		font-style: italic;
	}

	@font-face {
		font-family: OFLSortsMillGoudyRegular;
		src: url(//:) format('no404'), url('https://thebaseballchronicle.com/fonts/oflgoudystm-italic-webfont.woff') format('woff'), url('https://thebaseballchronicle.com/fonts/oflgoudystm-italic-webfont.ttf') format('truetype'), url('https://thebaseballchronicle.com/fonts/oflgoudystm-italic-webfont.svg#webfontDTTPz3S8') format('svg');
		font-weight: normal;
		font-style: italic;
	}
	
	html {
		background-color: #ffffff;
		border-top: 5px solid black;
	}
	
	body {
		color: #333;
		background-color: #ffffff;
		font-family: OFLSortsMillGoudyRegular, Garamond, Georgia, serif;
		font-size: .9em;
		width: 760px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		padding-top: 0;
        text-rendering: optimizeLegibility;
	}
	
	span.chron {
		letter-spacing: -1px;
		font-weight: bold;
	}
	
	#header {
		margin-top: 40px;
		text-align: center;
	}
	
		#header h1 {
			text-transform: uppercase;
			font-family: LeagueGothicRegular, Helvetica, sans-serif;
			font-size: 5.5em;
			margin-bottom: 0px;
			font-weight: normal;
		}
		
			#header h1 a {
				font-family: LeagueGothicRegular, Helvetica, sans-serif;
			}

            #header h1 a:active {
                border: 0;
            }
		
		#header p {
			margin: 0px auto 5px auto;
			font-size: 1.3em;
			font-style: italic;
		}
		
		#header ul {
			position: absolute;
			top: 0;
			margin: 0;
			padding: 12px 0;
			font-family: Helvetica, sans-serif;
			font-size: .9em;
			background-color: #cccccc;
			width: 100px;
			display: none;
		}
		
			#header li {
				padding: 0 15px;
				list-style: none;
				text-align: left;
				line-height: 1.8em;
			}
			
				#header ul a:link {
					
				}
			
				#header ul a:hover li {
					color: white;
					background-color: #8c1717;
				}
		
	a:link {
		color: #8C1717;
		text-decoration: none;
	}
	
	a:visited {
		color: #8c1717;
		text-decoration: none;
	}
		
	a:hover {
		color: black;
		text-decoration: none;
	}
		
	a:active {
		color: black;
		border-bottom: 1px solid black;
	}

	h2 span.newest {
		background-color: #c00;
		color: #fff;
		padding: 3px 4px;
	}
		
	#reporting {
		padding: 30px 45px 40px 45px;
		margin: 50px 0 50px 0;
		background-color: white;
		-webkit-transition: all 0.3s ease-in;
	}
	
		#reporting:hover {
			color: #333;
			text-decoration: none;
			background-color: rgb(137,146,161);
			background-color: rgba(137,146,161,1);
		}
	
	#reporting h2 {
		text-transform: uppercase;
		font-family: Helvetica, sans-serif;
		text-align: center;
		font-size: .9em;
		letter-spacing: 1px;
		color: rgb(137,146,161);
		-webkit-transition: all 0.3s ease-in;
	}
	
		#reporting:hover h2 {
			color: #333;
		}
	
	#reporting h3 {
		text-transform: uppercase;
		text-align: center;
		font-size: 1em;
		margin-bottom: 30px;
	}
	
	#reporting h1 {
		text-align: center;
		font-size: 2.5em;
	}
	
	#reporting a:link {
		text-decoration: none;
		color: #333;
		}
		
	#reporting a:visited {
		text-decoration: none;
		color: #333;
	}
		
	#reporting a:hover {
		color: #333;
		text-decoration: none;
	}
		
	#reporting a:active {
		background-color: rgba(150,150,150,.5);
	}
	
	#reporting p {
		font-size: 1.4em;
		line-height: 1.3em;
		margin: 0;
	}
	
	#reporting p + p {
		text-indent: 40px;
	}
	
	#essays {
		padding: 30px 45px 40px 45px;
		margin: 50px 0 50px 0;
		background-color: white;
		-webkit-transition: all 0.3s ease-in;
	}

		#essays:hover {
			color: #333;
			text-decoration: none;
			background-color: rgb(255,211,155);
			background-color: rgba(255,211,155,1);
		}
	
	#essays h2 {
		text-transform: uppercase;
		font-family: Helvetica, sans-serif;
		text-align: center;
		font-size: .9em;
		letter-spacing: 1px;
		color: #FCB514;
		-webkit-transition: all 0.3s ease-in;
	}

		#essays:hover h2 {
			color: #333;
		}
	
	#essays h3 {
		text-transform: uppercase;
		text-align: center;
		font-size: 1em;
		margin-bottom: 30px;
	}
	
	#essays h1 {
		text-align: center;
		font-size: 2.5em;
	}
	
		#essays a:link {
			color: #333;
			text-decoration: none;
		}
		
		#essays a:visited {
			color: #333;
			text-decoration: none;
		}
		
		#essays a:hover {
			color: #333;
			text-decoration: none;
		}
		
		#essays a:active {
			background-color: rgba(255,211,155,.5);
		}
	
	#essays p {
		font-size: 1.4em;
		line-height: 1.3em;
		margin: 0;
		text-align: center;
	}
	
	#essays p + p {
		text-indent: 40px;
	}
	
	#pstories {
		padding: 30px 45px 40px 45px;
		margin: 50px 0 50px 0;
		background-color: white;
		-webkit-transition: all 0.3s ease-in;
	}

		#pstories:hover {
			color: #333;
			text-decoration: none;
			background-color: rgb(157,161,145);
            background-color: rgba(157,161,145,1);
		}
	
	#pstories h2 {
		text-transform: uppercase;
		font-family: Helvetica, sans-serif;
		text-align: center;
		font-size: .9em;
		letter-spacing: 1px;
		color: rgb(157,161,145);
		-webkit-transition: all 0.3s ease-in;
	}
	
		#pstories:hover h2 {
			color: #333;
		}

		#pstories:hover h2 span.newest {
			background-color: rgb(157,161,145);
            background-color: rgba(157,161,145,1);
			color: #111;
		}
	
	#pstories h3 {
		text-transform: uppercase;
		text-align: center;
		font-size: 1em;
		margin-bottom: 30px;
	}
	
	#pstories h1 {
		text-align: center;
		font-size: 2.5em;
	}
	
	#pstories a:link {
		text-decoration: none;
		color: #333;
		}
		
	#pstories a:visited {
		text-decoration: none;
		color: #333;
	}
		
	#pstories a:hover {
		color: #333;
		text-decoration: none;
	}
		
	#pstories a:active {
		background-color: rgba(150,150,150,.5);
	}
	
	#pstories p {
		font-size: 1.4em;
		line-height: 1.3em;
		margin: 0;
	}
	
	#pstories p + p {
		text-indent: 40px;
	}
	
	#poetry {
		padding: 30px;
		margin: 50px 0 50px 0;
		background-color: white;
		-webkit-transition: all 0.3s ease-in;
	}
	
		#poetry:hover {
			color: #333;
			text-decoration: none;
			background-color: rgb(190,210,220);
        	background-color: rgba(190,210,220,1);
		}
	
	#poetry h2 {
		text-transform: uppercase;
		font-family: Helvetica, sans-serif;
		text-align: center;
		font-size: .9em;
		letter-spacing: 1px;
		color: rgb(190,210,220);
		-webkit-transition: all 0.3s ease-in;
	}
	
		#poetry:hover h2 {
			color: #333;
		}
	
	#poetry h3 {
		text-transform: uppercase;
		text-align: center;
		font-size: 1em;
		margin-bottom: 30px;
	}
	
	#poetry h1 {
		text-align: center;
		font-size: 2.5em;
	}
	
	#poetry a:link {
		color: #333;
		text-decoration: none;
	}
		
	#poetry a:visited {
		color: #333;
		text-decoration: none;
	}
		
	#poetry a:hover {
		color: #333;
		text-decoration: none;
	}
		
	#poetry a:active {
		color: #333;
		text-decoration: none;
	}
	
	#poetry p {
		font-size: 1.4em;
		line-height: 1.3em;
		margin: 0;
		text-align: left;
	}
	
	#poetry p + p {
		text-indent: 40px;
	}
	
	#fiction {
		padding: 30px;
		margin: 50px 0 50px 0;
		background-color: white;
        -webkit-transition: all 0.3s ease-in;
	}

		#fiction:hover {
			color: #333;
			text-decoration: none;
			background-color: rgb(241,210,205);
            background-color: rgba(241,210,205,1);
		}
	
	#fiction h2 {
		text-transform: uppercase;
		font-family: Helvetica, sans-serif;
		text-align: center;
		font-size: .9em;
		letter-spacing: 1px;
		color: #C67171;
		-webkit-transition: all 0.3s ease-in;
	}

		#fiction:hover h2 {
			color: #333;
		}
	
	#fiction h3 {
		text-transform: uppercase;
		text-align: center;
		font-size: 1em;
		margin-bottom: 30px;
	}
	
	#fiction h1 {
		text-align: center;
		font-size: 2.5em;
	}
	
	#fiction a:link {
		color: #333;
		text-decoration: none;
	}
		
	#fiction a:visited {
		text-decoration: none;
		color: #333;		
	}
		
	#fiction a:hover {
		color: #333;
		text-decoration: none;
	}
		
	#fiction a:active {
		background-color: rgba(150,150,150,.5);
	}
	
	#fiction p {
		font-size: 1.4em;
		line-height: 1.3em;
		margin: 0;
	}
	
	#fiction p + p {
		text-indent: 40px;
	}
	
	#randomoldies {
		width: 100%;              
	}
	
		#randomoldies div {
			-webkit-transition: all .3s ease-in;                        
		}
	
		#randomoldies div:hover {
			
		}
		
		#randomoldies a:link {
			text-decoration: none;
			color: #333;
		}
		
		#randomoldies a:visited {
			text-decoration: none;
			color: #333;
		}
		
		#randomoldies a:hover {
			text-decoration: none;
			color: #333;
		}
		
		#randomoldies a:active {
			text-decoration: none;
			color: #333;
		}
		
		#randomoldies h2 {
			font-size: 1.6em;
			font-weight: bold;
			text-align: left;
		}
		
		#randomoldies h3 {
			font-family: Helvetica, sans-serif;
			font-size: .85em;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
		
		#randomoldies h4 {
			font-weight: bold;
			font-size: 1em;
			margin-bottom: 0px;
		}
		
		#randomoldies p {
			margin-top: 10px;
			line-height: 1.25em;
		}
	
		div.essays {
			float: left;
			background-color: rgb(255,211,155);
			background-color: rgba(255,211,155,1);
			width: 160px;
			padding: 15px;
		}
		
			div.essays:hover {
				background-color: rgba(255,211,155,.4);
                                margin-top: -4px;
                                margin-bottom: 4px;
			}
			
			div.essays:active {
				background-color: rgba(255,211,155,.4);
			}
		
		div.pstories {
			float: left;
			background-color: rgb(157,161,145);
			background-color: rgba(157,161,145,1);
			width: 160px;
			padding: 15px;
		}
		
			div.pstories:hover {
				background-color: rgba(157,161,145,.4);
                                margin-top: -4px;
                                margin-bottom: 4px;
			}
			
			div.pstories:active {
				background-color: rgba(157,161,145,.4);
			}
		
		div.poetry {
			float: left;
			background-color: rgb(190,210,220);
			background-color: rgba(190,210,220,1);
			width: 160px;
			padding: 15px;
		}
		
			div.poetry:hover {
				background-color: rgba(190,210,220,.4);
                                margin-top: -4px;
                                margin-bottom: 4px;
			}
			
			div.poetry:active {
				background-color: rgba(190,210,220,.4);
			}
		
		div.fiction {
			float: left;
			background-color: rgb(241,210,205);
			background-color: rgba(241,210,205,1);
			width: 160px;
			padding: 15px;
		}
		
			div.fiction:hover {
				background-color: rgba(241,210,205,.4);
                                margin-top: -4px;
                                margin-bottom: 4px;
			}
			
			div.fiction:active {
				background-color: rgba(241,210,205,.4);
			}
		
		div.reporting {
            float: left;
			background-color: rgb(137,146,161);
			background-color: rgba(137,146,161,1);
			width: 160px;
			padding: 15px;
		}
		
			div.reporting:hover {
				background-color: rgba(137,146,161,.4);
                                margin-top: -4px;
                                margin-bottom: 4px;
			}
			
			div.reporting:active {
				background-color: rgba(137,146,161,.4);
			}
		
	div.spacer {
		clear: both;
	}
	
	#photos {
		margin: 100px 0 0 0;
	}

		#photos img {
			width: 760px;
		}

		#photos a img {
			border: none;
		}
	
		#photos h3 {
			font-family: Helvetica, sans-serif;
			font-size: .85em;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 1px;
			text-align: center;
		}
		
		#photos p {
			text-align: right;
			margin-top: 5px;
			text-transform: uppercase;
			font-size: .75em;
		}
	
	#bottomboxes {
		margin-top: 100px;
		width: 760px;
	}
	
		#bottomboxes h3 {
			font-family: Helvetica, sans-serif;
			font-size: .85em;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
		
		#bottomboxes p {
			line-height: 1.25em;
		}
	
		div.podcastbox {
			background-color: #e3e3e3;
			float: left;
			width: 350px;
			padding: 15px;
		}
		
		div.archivebox {
			background-color: #d6d6d6;
			float: left;
			width: 160px;
			padding: 15px;
		}

                        div.archivebox ul {
				list-style: none;
                                margin: 0 0 10px 0;
                                padding: 0;
			}

                        div.archivebox select {
				width: 160px;
				background-color: #fff;
				border-color: #cccccc;
			}
		
		div.aboutbox {
			background-color: #cccccc;
			float: right;
			width: 160px;
			padding: 15px;
		}
		
	#footer {
		clear: both;
		margin-top: 50px;
		text-align: left;
		font-family: Helvetica, sans-serif;
		font-size: .9em;
		border-top: 1px solid #d6d6d6;
		padding-top: 15px;
	}
	
		#footer p {
			line-height: 1em;
		}
		
		#footer ul {
			display: inline;
			margin: 0;
			padding: 0;
			list-style: none;
		}
		
			#footer li {
				display: inline;
				list-style: none;
				border-left: 1px solid #999;
				padding: 0 4px 0 7px;
			}
			
			#footer li:first-child {
				border: 0;
				padding-left: 0;
			}

    h1.pagetop {
    	text-align: center;
		font-size: 3em;
		padding: 10px 0;
		border-top: 1px solid #cccccc;
		border-bottom: 1px solid #cccccc;
        margin-bottom: 0;
	}
			
	#pagebody {
		font-size: 1.2em;
		line-height: 1.4em;
		margin-top: 45px;
	}

		#pagebody textarea {
			width: 600px;
			height: 500px;
		}

		#pagebody div.thanks {
			background-color:#f7f7f7;
			padding:25px;
	}

		div.aboutcontent {
			width:530px;
			margin-right:40px;
			margin-top:0;
			float:left;
		}

		div.aboutbiobox {
			width:160px;
			padding:15px;
			float:right;
			background-color:#cccccc;
		}

			div.aboutbiobox h4 {
				font-size:.1.1em;
				margin:10px 0 5px 0;
			}

			div.aboutbiobox p {
				font-size:.8em;
				line-height:1.5em;
			}
	
		#pagebody h1 {
			font-size: 2em;
			text-align: center;
		}
		
		#pagebody h2 {
			font-size: 1.4em;
			margin-top: 40px;
		}
		
		div.pagebodylede {
			font-size: 1.2em;
			line-height: 1.3em;
		}
		
		#entryheader {
			width: 100%;
			margin-top: 15px;
			display: block;
		}

			#entryheader h1 {
				text-transform: uppercase;
				font-family: LeagueGothicRegular, Helvetica, sans-serif;
				font-size: 2.8em;
				margin-bottom: 0px;
				font-weight: normal;
				text-align: center;
			}

			#entryheader h2 {
				font-size: 1.3em;
				font-weight: normal;
				text-align: center;
				padding: 8px 0 10px 0;
                border-top: 1px solid #cccccc;
				border-bottom: 1px solid #cccccc;
			}

				span.entryprev {
					font-size: 1.2em;
					margin-right: .7em;
					font-weight: bold;
				}

				span.entrynext {
					font-size: 1.2em;
					margin-left: .7em;
					font-weight: bold;
				}

	        #thearchive {
	                margin: 50px auto 30px auto;
	                text-align: center;
	        }

	                #thearchive h2 {
	                        font-size: 6em;
	                        text-align: center;
	                        margin: 0 0 20px 0;
	                }

	                #thearchive ul#filters {
	                        display: block;
	                        list-style: none;
	                        margin: 0 auto 10px auto;
	                        padding: 0;
	                        text-align: center;
	                        font-size: 1em;
	                }

	                #thearchive ul#filters li {
	                        display: inline;
	                        background-color: #cccccc;
	                        margin: 2px;
	                }

	                        #thearchive ul#filters li.archiveall {
	                                padding: 6px;
	                                background-color: #e3e3e3;
	                        }

	                        #thearchive ul#filters li.archivecurrent {
	                                padding: 6px;
	                                background-color: #e3e3e3;
	                        }

	                        #thearchive ul#filters li a {
	                                padding: 6px;
	                                background-color: #cccccc;
	                        }

	                        #thearchive ul#filters li a:hover {
	                                background-color: #e3e3e3;
	                        }

	                        ul.archivedrops {
	                                display: inline;
	                                margin: 0;
	                                padding: 0;
	                        }

	                                ul.archivedrops li {
	                                        list-style: none;
	                                        display: inline;
	                                }

	                                ul.archivedrops select {
	                                        background-color: #cccccc;
	                                        border-color: #cccccc;
	                                }

	                                ul.archivedrops select:first-child {
	                                        color: #8c1717;
	                                }
	
			                        ul.archivedropsmonthly {
			                                display: inline;
			                                margin: 0;
			                                padding: 0;
			                        }

			                                ul.archivedropsmonthly li {
			                                        list-style: none;
			                                        display: inline;
			                                }

			                                ul.archivedropsmonthly select {
			                                        background-color: #e3e3e3;
			                                        border-color: #e3e3e3;
			                                }

			                                ul.archivedropsmonthly select:first-child {
			                                        color: black;
			                                }
			
		div.clear {
				clear: both;
				margin-bottom: 50px;
				text-align: center;
				font-size: 2em;
		}

		#articlebody {
				clear: both;
				margin-top: 100px;
		}

				h2.readmorenav {
					text-align: center;
					font-size: 1.2em;
					font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
					background-color: #e5e5e5;
					padding: 8px;
				}

				span.readmorebullet {
					margin-left: .2em;
					margin-right: .2em;
					font-size: 85%;
					opacity: .8;
				}

				#sharebox {
					font-size: 1em;
					line-height: 1.4em;
					width: 190px;
					float: left;
					margin-top: 40px;
				}
	
				#biobox {
					font-size: 1em;
					line-height: 1.4em;
					width: 510px;
					float: right;
					margin-top: 40px;
					margin-bottom: 75px;
				}
	
		#biobox p {
			font-size: 1.1em;
		}

			#sharebox ul {
					list-style: none;
					padding-left: 0;
					margin: 0;
			}

			#sharebox li {
					font-family: Helvetica, Arial, sans-serif;
					padding-left: 0;
			}

					#sharebox li.facebookbutton, #sharebox li.instapaperbutton {
							margin: 7px 0;
					}

					#sharebox li.printbutton {
							background: no-repeat url(/images/icons/printer.png);
							margin: 9px 0 7px 0;
					}

							#sharebox li.printbutton a {
									padding-left: 22px;
							}

					#sharebox li.shortlinkbutton {
							background: no-repeat url(/images/icons/link.png);
							margin: 7px 0;
					}

							#sharebox li.shortlinkbutton a {
									padding-left: 22px;
							}
		
		
		#morestufftoread {
			margin-top: 60px;
		}
		
			#morestufftoread h2.recently {
				text-align: center;
				font-size: 1.9em;
			}

.comments-content {
	margin-top: 30px;
	margin-bottom: 70px;
}

h2.comments-header {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin-top: 50px;
}

#comments label {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#comments span.grayed {
	color: #878787;
}