body {
	background: white;
	padding: 0;
	margin: 5%;
	font-family: Times, 'Times New Roman', serif;
	font-size: 12pt;
	line-height: 16pt;
}

a, a:visited {
	color: #333333;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	}
	
#printbody a:after, #printbody a:visited:after {
   content: " (" attr(href) ") ";
   font-size: 90%;
   }

#printfooter a:after, #printfooter a:visited:after {
   content: " (" attr(href) ") ";
   font-size: 90%;
   }

	#printhead {
	
	}
	
		.action {
			display: none;
		}
	
		#printhead h1 {
			margin-top: .5%;
			font-size: 26pt;
		}
		
		#printhead h4 {
			margin-top: 3%;
			font-size: 9pt;
			font-family: Helvetica, Arial, sans-serif;
			font-weight: bold;
			letter-spacing: 3px;
			text-transform: uppercase;
		}
	
	#printbody {

	}
	
		span.articledropcap2 {
			color: #000000;
			float: left;
			font-size: 2.9em;
			line-height: .9em;
			padding: 0;
			margin: 0 7px 0 0;
		}
		
		span.articledropcap {
			color: #000000;
			float: left;
			font-size: 2.9em;
			line-height: .9em;
			padding: 0;
			margin: 0 7px 0 0;
		}
		
		#printbody h2 {
			margin-top: 3%;
		}
		
		#storypullquote {
			font-size: 18pt;;
			font-weight: bold;
			float: right;
			text-align: right;
			width: 33%;
			color: #000000;
			line-height: 22pt;;
			padding-left: 20px;
		}
		
		
	#printfooter {
		border-top: 1px solid gray;
	}
	
		#printfooter h3 {
			font-size: 16pt;
			margin-bottom: 2%;
		}