#entryheader h2 {
	border: none;
	margin-top: 0px;
}

	#entryheader h2 a:hover {
		color: rgb(157,161,145);
	}
	
#storyhead p {
	text-align: center;
	font-size: 1.7em;
}
	
	#articlebody h1 {
		font-size: 4em;
		text-align: center;
		margin-bottom: 25px;
	}

	h3.byline {
		text-transform: uppercase;
		text-align: center;
		font-size: .9em;
		margin-top: 0;
	}
	
.articletext {
	margin-top: 50px;
	margin-bottom: 60px;
}

	span.dropcap {
		float: left;
		font-size: 3.2em;
		margin: 5px 5px 0 0;
		display: inline;
		line-height: .7em;
		color: #000;
	}

	.articletext h2 {
		font-family: Helvetica, Arial, sans-serif;
		font-size: 1.2em;
		margin-top: 2em;
	}
	
	.articletext p {
		font-family: Georgia, Times, 'Times New Roman', serif;
		font-size: 1.1em;
		line-height: 1.5em;
		margin-bottom: 1.5em;
	}
	
	.columnleft {
		float: left;
		width: 365px;
		padding-right: 15px;
	}
	
	.columnright {
		float: right;
		width: 365px;
		padding-left: 15px;
	}
	
	.clear img {
		margin-top: 50px;
	}
	
	#articlebody .clear p {
		text-align: right;
		text-transform: uppercase;
		font-size: .5em;
		margin-top: 0;
	}
	
	#sharebox {
		font-size: 1em;
		line-height: 1.1em;
		width: 190px;
		float: left;
		background-color: #fff;
		border: 1px solid #ccc;
		padding: 15px 30px;
		margin-top: 40px;
	}
	
	#biobox {
		font-size: 1em;
		line-height: 1.4em;
		width: 415px;
		float: right;
		background-color: #fff;
		border: 1px solid #ccc;
		padding: 15px 30px;
		margin-top: 40px;
		margin-bottom: 75px;
	}
	
		#biobox p {
			font-size: 1.1em;
		}


/* Responsive styles */

@media screen and (max-width: 570px), handheld and (max-width: 570px) {
	body {
		width: 380px;
	}
	
		#header {
			width: 380px;
			margin-left: auto;
			margin-right: auto;
		}
	
			#header h1 {
				font-size: 3.1em;
			}
		
			#header p {
				font-size: 1.3em;
			}
			
		#articlebody {
			margin-left: 10px;
			margin-right: 10px;
		}
		
		#articlebody h1 {
			font-size: 3em;
		}
		
		.columnleft {
			width: auto;
			float: none;
			padding-right: 0;
		}
		
		.columnright {
			width: auto;
			float: none;
			padding-left: 0;
		}
		
		.clear img {
			width: 100%;
		}
			
		#sharebox {
			float: none;
			width: auto;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
		
		#biobox {
			float: none;
			width: auto;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
			
		#randomoldies {
			width: 380px;
			margin-left: auto;
			margin-right: auto;
		}
		
			#randomoldies div {
				float: none;
				width: auto;
			}
		
			#randomoldies div:hover {
				margin-top: 0;
				margin-bottom: 0;
			}
		
		#bottomboxes {
			width: 380px;
			margin-left: auto;
			margin-right: auto;
		}
		
			#bottomboxes div.podcastbox {
				float: none;
				margin-left: auto;
				margin-right: auto;
			}
			
			div.bottomreswrap {
				width: 380px;
				margin-left: auto;
				margin-right: auto;
			}
			
			#bottomboxes div.archivebox {
				float: left;
				
			}
			
			#bottomboxes div.aboutebox {
				float: left;
				
			}
		
	#footer {
		width: 380px;
		margin-left: auto;
		margin-right: auto;
	}

		#footer ul, #footer p {
			line-height: 1.4em;
		}
}

@media screen and (max-width: 380px), handheld and (max-width: 380px) {
	body {
		width: 100%;
	}
	
		#header {
			width: auto;
			margin-left: 10px;
			margin-right: 10px;
		}
	
			#header h1 {
				font-size: 2.8em;
			}
		
			#header p {
				font-size: 1.2em;
			}
			
		#entryheader h2 {
			margin-left: 10px;
			margin-right: 10px;
		}
		
		#fiction, #pstories, #essays, #poetry, #reporting {
			width: auto;
			margin-left: 10px;
			margin-right: 10px;
		}

			#fiction p, #pstories p, #essays p, #poetry p, #reporting p {
				font-size: 1.2em;
			}
			
	#sharebox {
		float: none;
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}

	#biobox {
		float: none;
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}
			
		#randomoldies {
			width: auto;
			margin-left: 10px;
			margin-right: 10px;
		}

			div.essaywrap, div.pstorieswrap, div.reportingwrap, div.poetrywrap, div.fictionwrap {
				position: relative;
			}

			div.essays, div.pstories, div.reporting, div.poetry, div.fiction {
				float: none;
				width: auto;
				margin-left: auto;
				margin-right: auto;
			}
		
		#bottomboxes {
			width: auto;
			margin-left: 10px;
			margin-right: 10px;
		}
		
			#bottomboxes div.podcastbox {
				width: auto;
				float: none;
				margin-left: 0;
				margin-right: 0;
			}

				ul.graphic li a, ul.graphic li a.sm2_link {
					width: auto;
				}
			
			div.bottomreswrap {
				width: auto;
				margin-left: 0;
				margin-right: 0;
			}
			
			#bottomboxes div.archivebox {
				float: none;
				display: block;
				width: auto;
			}
			
			#bottomboxes div.aboutbox {
				float: none;
				display: block;
				width: auto;
			}
		
	#footer {
		width: auto;
		margin-left: 10px;
		margin-right: 10px;
	}

		#footer ul, #footer p {
			line-height: 1.3em;
		}
}